/* Modular CSS Architecture for SNPedia App */

/* Import all CSS modules in order of dependency */
@import url('./variables.css');
@import url('./base.css');
@import url('./toolbar.css');
@import url('./components.css');
@import url('./table.css');
@import url('./responsive.css');
@import url('./dark-mode.css');
